# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JavaEE/WebApplicationInJEE/nbproject/private/
/JavaEE/WebApplicationInJEE/build/
/JavaEE/WebApplicationInJEE/dist/
/Maven/calculatePaintVolume/target/
/Maven/JDBC_Employees/target/
/Maven/JDBC_SportCenters/target/
/JavaWeb/Sportcenters/nbproject/private/
/JavaWeb/Sportcenters/build/
/JavaWeb/Sportcenters/dist/
/JavaWeb/JavaServerFaces/JSF_HelloWorld/nbproject/private/
/JavaWeb/JavaServerFaces/JSF_HelloWorld/build/
/JavaWeb/JavaServerFaces/jsf_HelloWorld/nbproject/private/
/JavaWeb/JavaServerFaces/jsf_HelloWorld/build/
/JavaWeb/JavaServerFaces/jsf_HelloWorld_nb11_3_gf5/jsf_HelloWorld_nb11_3_gf5/target/
/JavaWeb/JavaServerFaces/jsf_HelloWorld/dist/
/JavaWeb/JavaServerFaces/HelloWorld/target/
/JavaWeb/JavaServerFaces/HelloWeb/nbproject/private/
/JavaWeb/JavaServerFaces/HelloWeb/build/
/JavaWeb/JavaServerFaces/SimpleJSFApp/nbproject/private/
/JavaWeb/JavaServerFaces/WebJSF2_2App/nbproject/private/
/JavaWeb/JavaServerFaces/WebJSF2_2App/build/
/JavaWeb/JavaServerFaces/WebJSF_GuessNumberApp/nbproject/private/
/JavaWeb/JavaServerFaces/WebJSF_GuessNumberApp/build/
/JavaWeb/JavaServerFaces/WebJSF_GuessNumberApp/dist/
/JavaWeb/JavaServerFaces/Ajax-JavaWeb_JSP_Servlet/nbproject/private/
/JavaWeb/JavaServerFaces/Ajax-JavaWeb_JSP_Servlet/build/
/JavaWeb/JavaServerFaces/Ajax-JavaWeb_JSP_Servlet/dist/
/JavaWeb/MyAjaxApp/nbproject/private/
/JavaWeb/MyAjaxApp/build/
/JavaWeb/JavaServerFaces/ContextsDependencyInjection_JSF/nbproject/private/
/JavaWeb/JavaServerFaces/ContextsDependencyInjection_JSF/build/
/JavaWeb/JavaServerFaces/JSF_Exercise1a/target/
/Ant/JSF/JSF_Exercise1a/nbproject/private/
/Ant/JSF/JSF_Exercise1a/build/
/Ant/JSF/JSFWebApplication/nbproject/private/
/Ant/JSF/JSFWebApplication/build/
/Maven/myMavenProjects/target/
/Maven/JSF-with-Maven/JSF-with-Maven/target/
/Maven/JSF/myJSFproject/target/
/Maven/JSF/mavenproject1/target/
/Maven/JSF/JSFwebTemplate/target/
/Maven/JSF/Template4JSF/target/
/Maven/JSF/JSF_webApp_Maven/target/
/Maven/JSF/myAutoApp/target/
/Maven/JSF/JSF_MusicShop/nbproject/private/
/Maven/JSF/JSF_MusicShop/build/