body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: 'Sedgwick Ave Display', cursive;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  24px;
    font-weight: bold;
    margin: 10px;
    padding: 30px;
    color: crimson;
    text-align: center;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.left {
    text-align: left;
}

.right div {
    float: right;
}

.ui-diagram-element {
    border:0.1em dotted #d4e06b;    
    width:14em; 
    height:4em;     
    line-height:4em;
    text-align: center;
}